.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
.env
node_modules/
*.sql
*.map
*.tar.gz
*.zip
.tags*
.log/
.vscode/
package-lock.json
yarn.lock
admin/index.asset.php
admin/index.js
admin/index.js.LICENSE.txt
admin/block-controls/index.asset.php
admin/block-controls/index.js.map
admin/editor-css/index.js
admin/editor-css/style.css
admin/all-utils-in-window/index.js
admin/style.css
admin/index.asset.php
admin/**.map

blocks/**/index.js
blocks/**/index.js.map
blocks/**/index.asset.php
blocks/**/index.js.LICENSE.txt
blocks/**/frontend/
!blocks/**/src/index.js
!blocks/**/src/constants/index.js
vendor-bundle/
lib/update-category-icon/index.js
lib/update-category-icon/index.js.map
lib/update-category-icon/index.asset.php
lib/enable-disable-blocks/index.js
lib/enable-disable-blocks/index.js.map
lib/enable-disable-blocks/index.asset.php

dist/index.js
dist/index.asset.php
dist/style.css
dist/index.js.map
dist/style.css.map

style-blocks/
blocks/**/index.js.LICENSE.txt
*.log

.prettierrc
